CHANGE.EXE
COUNT.EXE
CREF.EXE
DEBUG.bat
debug.exe
edit.com
exe2com.exe
LINK.EXE
MAKE.bat
MAKE.EXE
MASM.EXE
RUN.bat

../CHANGE.EXE
../COUNT.EXE
../CREF.EXE
../DEBUG.bat
../debug.exe
../edit.com
../exe2com.exe
../LINK.EXE
../MAKE.bat
../MAKE.EXE
../MASM.EXE
../RUN.bat
